
a.k-button-increase {
  padding: 2px 2px 2px 2px !important;
}
a.k-button-decrease {
  padding: 2px 2px 2px 2px !important;
}
.k-sprite.fa {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  padding-right: 6px;
}

.k-sprite.k-icon {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  padding-right: 6px;
}

.k-sprite.glyphicon {
  font-size: 16px;
  line-height: 16px;
  padding-right: 6px;
}

